@import 'tailwindcss';

@theme inline {
  --font-sans:
    Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-background: hsl(0deg 0% 98%);
  --color-primary: hsl(0 0% 9%);
}

@layer components {
  .draggable-person-drag {
    @apply rounded-md bg-neutral-200;
  }
  .draggable-person-ghost {
    @apply rounded-md bg-neutral-200;
  }
  .draggable-person-chosen {
    @apply rounded-md bg-neutral-200;
  }

  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }

  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}
